.padding-top{
	padding-bottom: 25px;
	margin-right: 25px;
}

.md-card-image{
    display: block;
    margin: 0 auto;
}

.md-actions {
    text-align: center;
}

.carts{
	margin-left: 100px !important;
	margin-top: -100px;
}

.row{
	float :left !important;
	margin : 25px 25px 25px 0px;
}

.filter{
	margin-left: 5px;
}
