<!--  <br><br>
OS:<br>
	 <input type="checkbox" (change)="mon($event,'Windows')"> Windows<br>
   <input type="checkbox" (change)="mon($event,'IOS')"> IOS<br>
   <input type="checkbox" (change)="mon($event,'Android')"> Android<br>

 Sort By:<br>
   <input type="radio" name="sort" (change)="rating($event,'rating')"> Rating
   <input type="radio" name="sort" (change)="rating($event,'name')"> Name
   <input type="radio" name="sort" (change)="rating($event,'none')"> No Filter -->

<!-- 
<div class="container" *ngIf = isActive>
called
    <md-card layout="row" style="width: 350px;" *ngFor="let mobiles of filteredMobileList">
    
      <img src={{mobiles.imageUrl}} height="150" width="150" class="md-card-image" (click)=gotoDetail(mobiles)>
      <md-card-content>
      <br/>
        <h2 align="center" (click)=gotoDetail(mobiles)>{{mobiles.name}}</h2>
        
       <div *ngIf = "mobiles.stock" >
          <p align="center" (click)=gotoDetail(mobiles)>In Stock<br/>Rating <strong>{{mobiles.rating}}*</strong></p>
        </div>
        <div [hidden] = "mobiles.stock" >
          <p align="center" (click)=gotoDetail(mobiles)>Out of stock<br/>Rating <strong>{{mobiles.rating}}*</strong></p>
       </div>
    
    </md-card-content>
      <br/>
      <div class="md-actions">
        
         <div [ngSwitch] = "mobiles.stock">
            <span *ngSwitchCase = "'In Stock'">
              <button class="buy" >Buy Now</button>
               <button class="carts" (click) = "handleThumbnailClick(mobiles.name)">Add to cart</button>
            </span>
            <span *ngSwitchDefault >
               <button class="buy" disabled>Buy Now</button>
                <button class="carts" (click) = "handleThumbnailClick(mobiles.name)">Add to cart</button>
            </span>
          </div>       
      </div>
    </md-card>
</div>
 -->