<div id="flipkart-navbar">
    <div class="container">
        <div class="row row1">
            <ul class="largenav pull-right">
                <li class="upper-links"><a class="links" href="#">Add your Product</a></li>
                <li class="upper-links"><a class="links" href="#">24/7 Customer Care</a></li>
                <li class="upper-links"><a class="links" href="#">Login</a></li>
                <li class="upper-links"><a class="links" href="#">Signup</a></li>
            </ul>
        </div>
        <div class="row row2">
            <div class="col-sm-2">
                <img class="image-icon" src="favicon.ico">
                <h4 style="margin:0px;"><span class="smallnav menu" onclick="openNav()">☰ Demo Project</span></h4>
                <h4 style="margin:0px;"><span class="largenav">Demo Project</span></h4>
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row">
                    <input [(ngModel)] = "queryString" class="flipkart-navbar-input col-xs-11" type="text"
                     placeholder="Search for Products, Brands and more"  id="search">
                          <ul>
                        <li *ngFor="let n of brandList | FilterPipe: queryString">
                          {{n.brand}}
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>

</div>
