<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="info">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="heading">
                        <h3 class="heading-title">Demo Page</h3>
                        <div class="heading-line">
                            <span class="short-line"></span>
                            <span class="long-line"></span>
                        </div>
                        <p class="heading-text">This is demo about using of angular2
                        </p>
                        <br/><br/>
                        <p>
                            <button class="logout">Logout</button>
                        </p>
                    </div>
                </div>
              </div>
            </div>
        </div>

    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span>
                        This Footer will <a href="#" class="sub-footer__link">always remain</a>
                         at bottom of the <a href="#">Page</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

</footer>