.padding-top{
	padding-bottom: 25px;
	margin-top: 25px;
}

.md-card-image{
    display: block;
    margin: 0 auto;
}

.md-actions {
    text-align: center;
}

.buy {
    margin-right: 100px !important;
}