<app-root>
<div class="component-title">
<nav-bar></nav-bar>

        Add New Here!!
<div class="container">
<div class="row">
<form>
  <fieldset class="margin-top-bottom">
    <legend >Mobile Details:</legend>
    id:<br>
    <input type="text" name="id" value="17">
    <br>
    Name:<br>
    <input type="text" name="name" placeholder="Phone Name">
    <br>
    Rating:<br>
    <input type="text" name="rating" value="4.7">
    <br>
    Brand:<br>
    <input type="text" name="brand" value="Apple">
    <br>
    Price:<br>
    <input type="text" name="price" value="₹55,301">
    <br>
    OS:<br>
	    <input type="radio" name="os" value="Windows"> Windows<br>
  		<input type="radio" name="os" value="IOS" checked> IOS<br>
  		<input type="radio" name="os" value="Android"> Android
    <br>
    Stock:<br>
    <input type="text" name="stock" value="In Stock">
    <br>
    Camera:<br>
    <input type="text" name="camera" value="20MP Rear Camera | 20MP Front Camera">
    <br>
    ImageUrl:<br>
    <input type="text" name="imageUrl" value="https://rukminim1.flixcart.com/image/832/832/j1dvte80/mobile/p/a/t/apple-iphone-5s-a1530-original-imaeednahzknxvrt.jpeg?q=70">
     <br>
    Description:<br>
    <input type="text" name="desc" value="This is a good phone">
    <br><br>
    <input type="submit" (click)="onSubmit()" value="Submit">
  </fieldset>
</form>
</div>
</div>
<footer-bottom></footer-bottom>
</div>
</app-root>